.formlogin, .titlelogin, .buttonlogin{
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
    margin-top: 50px;
}

.usernameinput, .password{
    margin-bottom: 20px;
}

.foot{
    display: flex;
    justify-content: center;
}

.errorcontainer{
    display: flex;
    justify-content: center;
}

.erroralert{
    min-width: 60%;
    display: flex;
    justify-content: center;
}
